<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <contextName>testContext</contextName>
    <appender name="stash" class="logback4s.logstash.TcpAppender">
        <destinations>172.16.1.25:12345</destinations>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="stash" />
    </root>
</configuration>